* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: burlywood;
  display: flex;
  flex-direction: column;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
@media (max-width: 400px) {
  body {
    font-size: 15px;
  }
}

h1 {
  margin-bottom: 5px;
}

header {
  padding-bottom: 15px;
  position: fixed;
  background-color: lightgray;
  width: 100%;
  z-index: 1;
  top: 0%;
}
main {
  background-color: hs1(200, 60%, 100%);
  height: 100%;
  max-width: 900px;
  margin: auto;
  margin-bottom: 80px;
  padding-bottom: 10px;
  padding-top: 5px;
  position: relative;
  top: 80px;
}

@media (max-width: 400px) {
  main {
    top: 65px;
  }
}

#title {
  margin: auto;
  margin-top: 5px;
  text-align: center;
}

#description {
  margin-top: 10px;
  text-align: center;
}

#survey-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#fields {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: grid;
  grid-gap: 15px;
}

@media (max-width: 600px) {
  #fields {
    grid-template-columns: 1fr;
  }
  label {
    text-align: left;
  }
}

@media (min-width: 600px) {
  #fields {
    grid-template-columns: 1fr 1fr;
  }
  label {
    text-align: right;
  }
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 0;
  min-width: 100%;
}

fieldset label:hover {
  font-weight: bold;
}

#submit {
  margin: auto;
  background-color: rgb(187, 232, 232);
  border-radius: 10px;
  padding: 5px 12px 5px 12px;
  margin-top: 5px;
  font-size: 85%;
}
